# Rust stuff.
**/*.rs.bk
*.pdb
assets/*.bkp
debug/
target/

# Nix stuff.
.direnv/
result

# Invar stuff.
*.mrpack
.backups/
config/
datapacks/
mods/
pack.yml
resourcepacks/
sample/
shaderpacks/
shaders/
